.card-body.text-center {
    display: grid;
    grid-template-columns: auto 1fr;
    text-align: left !important;
    column-gap: 1rem;
}

p,
.card-body.text-center h5 {
    margin: 0; padding: 0;
}

div {
    color: #FFFFFF;
}

img {
    height: 55px;
    border-radius: 50%;
}

h5 {
    font-size: 1.3125rem;
    font-weight: bold;
}

p {
    font-size: 1rem;
}

p:first-of-type {
    grid-row: 1/ span 2;
}